.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid 2px black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid 2px black;
  box-sizing: border-box;
}

.cross, .circle {
  font-size: 80px;
  font-weight: bold;
}

.cross {
  color: red;
}

.circle {
  color: blue;
}